@font-face {
  font-family: Jazmin;
  src: url(public/jazmin.otf);
}

body {
  background-color: white;
  font-family: Jazmin, sans-serif;
  font-size: 1.3em;
  position: relative;
  text-align: center;
}

/* text and button content */

h1 {
  font-size: 3em;
  vertical-align: top;
  
  
}
#video-frame img {
  width: 600px;
  height: auto;
  position: relative;
  z-index: -1;
}

#webcam {
  position: absolute;
  text-align: center;
  left: 20%;
  top: 390px;
  width: 900px;
  height: 250px;
  
}

/* button styling starts here */

#start, #options, .work-minutes, .break-minutes{
background-color: #96712A; 
font-family: Jazmin;
border: none;
color: white;
border-radius: 10px;
padding: 10px 15px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
}

/* modal styling starts here */
.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 10;
  border: 1px solid #888;
  width: 60%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}


/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: black;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
}

@media only screen and (min-width: 1800px) {
  #options {
    position: absolute;
    right: 10%;
    top: 220px;
    width: 400px;
    text-align: left;
  }
}

#demo {
  font: black;
}